In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_json('metadatas.json')
df.head()

,_id,filename,description,weather,datetime,longitude,latitude,alpha,beta,gamma,__v,compass
0,{'$oid': '63ad283dcf197a147d6600c1'},dd6c26782853a.jpg,Bridge,Sunny,2022-12-29 05:39:15.639000+00:00,{'$numberDecimal': '121.0120087'},{'$numberDecimal': '14.5940321'},{'$numberDecimal': '258.3'},{'$numberDecimal': '18.2'},{'$numberDecimal': '-16.7'},0,NaN
1,{'$oid': '63ad3b37cf197a147d6600c3'},ed862fef325b1.jpg,Riverbank,Sunny,2022-12-29 07:00:38.767000+00:00,{'$numberDecimal': '120.9794739'},{'$numberDecimal': '14.5976188'},{'$numberDecimal': '231'},{'$numberDecimal': '16.1'},{'$numberDecimal': '12.9'},0,NaN
2,{'$oid': '63ad3bbdcf197a147d6600c5'},fcea82099b748.jpg,Riverbank,Sunny,2022-12-29 07:02:47.433000+00:00,{'$numberDecimal': '120.9792038'},{'$numberDecimal': '14.5975039'},{'$numberDecimal': '202.79999999999998'},{'$numberDecimal': '29.8'},{'$numberDecimal': '-2.2'},0,NaN
3,{'$oid': '63ad3c12cf197a147d6600c7'},9bf6f91534b8f.jpg,Riverbank,Sunny,2022-12-29 07:03:59.892000+00:00,{'$numberDecimal': '120.9785912'},{'$numberDecimal': '14.5973141'},{'$numberDecimal': '116.1'},{'$numberDecimal': '1.7000000000000002'},{'$numberDecimal': '-56.400000000000006'},0,NaN
4,{'$oid': '63ad3ca1cf197a147d6600c9'},3f92dcb11d28.jpg,Riverbank,Sunny,2022-12-29 07:05:27.323000+00:00,{'$numberDecimal': '120.9785801'},{'$numberDecimal': '14.5966848'},{'$numberDecimal': '156.39999999999998'},{'$numberDecimal': '17.3'},{'$numberDecimal': '-15.100000000000001'},0,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          360 non-null    object
 1   filename     360 non-null    object
 2   description  360 non-null    object
 3   weather      360 non-null    object
 4   datetime     360 non-null    datetime64[ns, UTC]
 5   longitude    360 non-null    object
 6   latitude     360 non-null    object
 7   alpha        11 non-null     object
 8   beta         11 non-null     object
 9   gamma        11 non-null     object
 10  __v          360 non-null    int64
 11  compass      349 non-null    object
dtypes: datetime64[ns, UTC](1), int64(1), object(10)
memory usage: 33.9+ KB

In [4]:
df['_id'] = df['_id'].apply(lambda x: x['$oid']).astype(str)

In [5]:
df['longitude'] = df['longitude'].apply(lambda x: x['$numberDecimal']).astype(float)
df['latitude'] = df['latitude'].apply(lambda x: x['$numberDecimal']).astype(float)
df['alpha'] = df['alpha'].apply(lambda x: x['$numberDecimal'] if x == x else None).astype(float)
df['beta'] = df['beta'].apply(lambda x: x['$numberDecimal'] if x == x else None).astype(float)
df['gamma'] = df['gamma'].apply(lambda x: x['$numberDecimal'] if x == x else None).astype(float)
df['compass'] = df['compass'].apply(lambda x: x['$numberDecimal'] if x == x else None).astype(float)

In [8]:
df['compass'] = df.apply(lambda x: x['compass'] if x['compass'] == x['compass'] else x['alpha'], axis=1)

In [10]:
del df['alpha']
del df['beta']
del df['gamma']

In [12]:
df['__v'].value_counts()

0    360
Name: __v, dtype: int64

In [13]:
del df['__v']

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          360 non-null    object
 1   filename     360 non-null    object
 2   description  360 non-null    object
 3   weather      360 non-null    object
 4   datetime     360 non-null    datetime64[ns, UTC]
 5   longitude    360 non-null    float64
 6   latitude     360 non-null    float64
 7   compass      360 non-null    float64
dtypes: datetime64[ns, UTC](1), float64(3), object(4)
memory usage: 22.6+ KB

In [18]:
df.to_json('processed_metadatas.json', orient='records')